@import "../constant.less";

@MAIN_HEADER_HEIGHT: 60px;

#common-view-page {
  .main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: @MAIN_HEADER_HEIGHT;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.39);

    .header-search-menu {
      position:absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 50%;
      margin: 10px 25px;

      .title {
        display: inline;
        margin-right: 25px;

        a {
          color: @LOGO_MAIN_COLOR;
          font-family: "Open Sans",sans-serif;
          font-size: 26px;
          font-weight: 500;
          text-decoration: none;
        }
      }

      #search-compact { display: inline; }
    }
  }

  .main-viewport {
    margin-top: @MAIN_HEADER_HEIGHT + 15px;
  }
}

.common-view-page-structure-dashboard {
  position: relative;
  width: 600px;
  margin-top: 85px;
  margin-left: 120px;
}

.vierport-main-list-component {
  a {
    color: @LOGO_MAIN_COLOR;
    font-family: "Open Sans",sans-serif;
    font-size: 26px;
    font-weight: 500;
    text-decoration: none;
  }
 &>div:first-child {
   border-top: 1px;
 }
}
