#dashboard {
  position: absolute;
  width: 100%;
  height: 100%;
  .main-header {
    position: relative;

    #top-header-menu-container {
        position: absolute;
        right: 0;
        margin-right: 50px;

    }
  }

  .main-viewport {
    h1 {
      color: rgb(102, 102, 102);
      font-family: "Open Sans",sans-serif;
      font-size: 4.5em;
      font-weight: 500;
      line-height: 46px;
      margin-bottom: 20px;
    }
  }

}
