@import "../constant.less";

#dashboard {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .main-header {
    position: relative;

    #top-header-menu-container {
        position: absolute;
        right: 0;
        margin-right: 50px;

    }
  }

  .main-viewport {
    display: flex;
    flex-direction: row;
    height: 100%;

    h1 {
      color: @LOGO_MAIN_COLOR;
      font-family: "Open Sans",sans-serif;
      font-size: 5em;
      font-weight: 500;
      line-height: 46px;
      margin-top: -58px;
      margin-bottom: 38px;
    }

    #search-query {
      display: inline-block;
      width: 600px;
      background-color: #fff;
      height: 38px;
      vertical-align: top;
/*
      border: 1px solid #d9d9d9;
*/

      input {
/*
style Inline
        border: 'medium none',
        outline: 'none',
        padding: 0,
        margin: 0,
        height: '100%',
        width: '100%',
        fontSize: 16,
        fontWeight: 400,
        textIndent: 10,

        border: medium none;
*/
        border: 1px solid #d9d9d9;

        outline: none;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-indent: 10px;

        &:hover {
          border: 1px solid @orange;
        }
        
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px white inset;
        }

        &:focus {
          background-color: #fff;
          border: 1px solid @orange;
          outline: none;
        }
      }

    }

  }

}
