@text-color: rgb(102, 102, 102);

#top-header-menu-container {
    position: absolute;
    right: 0;
    margin-right: 50px;

    a {
      color: @text-color;
      font-family: "Open Sans",sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
    }
}
