@text-color: rgb(102, 102, 102);

#top-header-menu-container {
    position: absolute;
    right: 0;
    margin-right: 50px;

    h1 {
      color: @text-color;
      font-family: "Open Sans",sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 42px;
    }
}
