@import "./constant.less";

@base: #f938aa;
@orange: #f26f20;
@gray: #565656;

#maincontainer {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-menu-container {
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.39);
  color: #777;
  padding-top: 10px;
}

.image {
  position: absolute;
  height: 400px;
  width: 400px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}

.main-header {
  .title {
    margin: 20px;
    color: @LOGO_MAIN_COLOR;
    font-family: serif;
    font-size: 2.2em;
    font-weight: lighter;
  }
}
